<manifest package="com.netease.apkextdownloader"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />
    
    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required to download files from Google Play -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to poll the state of the network connection and respond to changes -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Required to read and write the expansion files on shared storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <!--
         In order to start the service, it must be uniquely registered with
         the package manager here.
        -->
        <service android:name="com.cclink.obbdownloader.download.ObbDownloadService" />
        <!--
         In order for the alarm manager to contact the downloader script, the receiver
         must be uniquely registered with the package manager here.
        -->
        <receiver android:name="com.cclink.obbdownloader.download.ObbDownloadReceiver" />
    </application>

</manifest>
